.MyTasks{
    position: relative;
    min-height: 100vh;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding:0;
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: start center;
    background-repeat: no-repeat;
}
h1{
    margin: 0;
    padding:0;
    margin-bottom: 2rem;
    color: var( --very-light-gray);
}

.MyTasks-elems{ 
    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    width: 25vw;
}

@media (max-width: 1200px){
    .MyTasks-elems{
        width: 50vw;
        top: 8vh;
    }
}

@media (max-width: 700px){
    .MyTasks-elems{
        width: 90vw;
        top: 8vh;
    }
}