.task-text{
    padding:1em;
    margin:0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--very-dark-grayish-blue);
    transition: 500ms ease-in-out;
}
.task-text:hover{
    cursor: pointer;
}
.done{
    color: var(--light-grayish-blue);
    text-decoration: line-through;
    animation-name: done-animation;
    animation-duration:500ms;
}

@keyframes done-animation{
    from{
        text-decoration: none;
    }
    to{
        text-decoration: line-through;
    }
}