nav{
    position: relative;
    padding:1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    color: var(--very-dark-grayish-blue);
    background: var(--bg-color-2);
    border-radius: 0 0 5px 5px;
    transition: 500ms ease-in-out;
}

nav p,
nav button{
    margin: 0;
    padding:0;
    margin-right: 0.7rem;
    color: var(--dark-grayish-blue);
    font-weight: bold;
}
nav button{
    background: none;
    outline: none;
    border: none;
    font-size: 0.7rem;
    transition: 100ms ease-in-out;
}


.menu-mobile{
    justify-content: center;
    font-weight: 700;   
    margin-top: 1rem;
    border-radius: 5px;
    display: none;
}
.active-filter{
    color: var(--bright-blue);
}
@media (hover: hover){
    nav button:hover{
        cursor: pointer;
        color: var(--bright-blue);
    }
}
@media (max-width: 700px){
    .menu-mobile{
        display: flex;
    }
    .center{
        display: none;
    }
}