.taskList-list{
    background: var(--very-light-gray);
    border-radius: 5px 5px 0 0;border-radius: 5px;
}

.taskList-list-task{
    border-bottom: 0.5px solid var(--light-grayish-blue);
    
}
@media (max-width: 600px){
    
}
